body {
	width: 100%;
	height: 100%;
	margin: 0px;
	-webkit-background-size: 100px 100px !important;
  	-moz-background-size: 100px 100px !important;
  	-o-background-size: 100px 100px !important;
	background-size: 100px 100px !important;
}

body, .main{
	background: white no-repeat center center fixed !important;
}

body, .projects {
	background: url("../images/boy.jpg") no-repeat center center fixed !important;
}

body, .footprint {
	background: url("../images/lighthouse.jpg") no-repeat center center fixed !important;
}

body, .blog {
	background: url("../images/lighthouse.jpg") no-repeat center center fixed !important;
}

body, .contact{
	background: url("../images/boy.jpg") no-repeat center center fixed !important;
}

a:link {
    text-decoration: none;
}

.center {
	margin: auto;
}

.background-image-link {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 150px;
	height: 20px;
	color: white;
	z-index: 2;
}

#header_container {
	position: fixed;
	top: 0px;
	display: inline-block;
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: rgba(200,200,200,0.9);
	z-index: 4;
}

#header {
	width: 80%;
	height: 50px;
	margin: auto;
}

.direction {
	width: 20%;
	height: 38px;
	padding: 12px 0px 0px 0px;
	font-family: sans-serif;
	display: inline-block;
	float: left;
}

.direction.selected_dir {
	background-color: rgba(255,255,255,0.6);
}

.direction:hover:not(.selected_dir) {
	background-color: rgba(255,250,255,0.4);
}

.dirName {
	color: black;
	font-size: 20px;
	font-weight: bold;
}

#content {
	width: 100%;
	margin: 70px 0px 0px;
	position: relative;
}

#content_origin {
	width: 900px;
	min-height: 700px;
	margin: 70px auto;
	position: relative;
}

#footer {
    width: 100%;
    color: rgba(170,170,170,1);
    text-align: center;
    font-family: sans-serif;
}

.href:hover {
    background-color: rgba(255,255,255,0.7);
}

.href:visited {
    text-decoration: none; 
    color: blue;
}

.contact_container {
    width: 760px;
    height: 600px;
    margin: 180px auto;
    background-color: rgba(255,255,255,0.7);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    font-size: 25px;
    font-family: sans-serif;
}

