<div class="intro_container">
    <div id="avator_container">
        <img id="avator" src="../images/avator.png">
    </div>
    <div class="intro">
        <br>
        Hi! My name is Xiaoyu. <br>
        I am a graduate student at <a class="href" href="http://www.nyu.edu">NYU</a>, majoring in Computer Science.
        I just graduated this winter ( Dec 2015 ),
        and I'm trying my best to get a job now.
        Some of the projects I did can be found <a class="href" href="#Projects">HERE</a>. I hope you will like them :) <br>
        <br>If you want to know more about me, 
        <br>please follow these links
    </div>
    <div class="symbol_links">
        <a href="https://www.linkedin.com/in/xiaoyu-xu-30399a49" class="symbol_link">
            <img class="symbol_link_img" src="../images/linkedIn.png">
        </a>
        <a href="https://www.facebook.com/xiaoyu.xu.167" class="symbol_link">
            <img class="symbol_link_img" src="../images/facebook.png">
        </a>
        <a href="http://github.com/xuxiaoyu89" class="symbol_link">
            <img class="symbol_link_img" src="../images/github.png">
        </a>
        <a href="../database/resume.pdf" class="symbol_link">
            <img class="symbol_link_img" src="../images/resume.png">
        </a>
    </div>
</div>

<div id="description_container">
    <div id="description">
        Story Behind<br><br>
        The beautiful sunset above was shot in Saltpond Bay in St John, US Virgin Islands, on January 19th, 2016. Actually, there is a sea turtle swimming in the water, can you find it? I didn't notice it until I was editing the video that night. What a surprise! The beautiful weather and breath-taking scene make the place heaven, but thousands of tiny mosquitoes make it hell. We suffered from itching for weeks...
    </div>
</div>

<div id="video_container">
    <video id="video" src="../videos/sunset.mp4" autoplay="true" loop muted></video>
</div>
