{{msg}}
<!-- Time line feature -->
<div id="blog_container">
	<div id="timeline"></div>
	<div id="blog_wrapper">
		<div class="blog">
			<div class="blog_time"></div>
			<div class="blog_content">
				<image class="blog_image" src="../images/reflection.png">
				<div class="blog_discription"></div>
			</div>
		</div>
		<div class="blog">
			<div class="blog_time"></div>
			<div class="blog_content">
				<image class="blog_image" src="../images/reflection.png">
				<div class="blog_discription"></div>
			</div>
		</div>
		<div class="blog">
			<div class="blog_time"></div>
			<div class="blog_content">
				<image class="blog_image" src="../images/reflection.png">
				<div class="blog_discription"></div>
			</div>
		</div>
		<div class="blog">
			<div class="blog_time"></div>
			<div class="blog_content">
				<image class="blog_image" src="../images/reflection.png">
				<div class="blog_discription"></div>
			</div>
		</div>
		<div class="blog">
			<div class="blog_time"></div>
			<div class="blog_content">
				<image class="blog_image" src="../images/reflection.png">
				<div class="blog_discription"></div>
			</div>
		</div>
		<div class="blog">
			<div class="blog_time"></div>
			<div class="blog_content">
				<image class="blog_image" src="../images/reflection.png">
				<div class="blog_discription"></div>
			</div>
		</div>
		<div class="blog">
			<div class="blog_time"></div>
			<div class="blog_content">
				<image class="blog_image" src="../images/reflection.png">
				<div class="blog_discription"></div>
			</div>
		</div>
		<div class="blog">
			<div class="blog_time"></div>
			<div class="blog_content">
				<image class="blog_image" src="../images/reflection.png">
				<div class="blog_discription"></div>
			</div>
		</div>
	<div>
</div>