<div class="course">
	<div class="course_description">
		Course: Computer Graphics<br>
		CS Department, NYU, Spring 2015. <br>
		Instructor: <a href="https://mrl.nyu.edu/~perlin/">Kenneth Perlin</a>
	</div>
	<div class="projects_container">
		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw1/" class="project_link">
				<div class="project_discription">Homework 1, I did a firework.</div>
				<img class="project_thumbnail" src="../images/projects/graphics/firework.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/project/" class="project_link">
				<div class="project_discription">
					The final project, used blender to draw the dog and add animation
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/dog.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw2/" class="project_link">
				<div class="project_discription">Two spheres with basic shading effect.</div>
				<img class="project_thumbnail" src="../images/projects/graphics/shading.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw3/" class="project_link">
				<div class="project_discription">
				Spheres with color, different reflections (Blinn and Phong Reflection)
				and shading (multiple light source).
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/reflection.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw4/" class="project_link">
				<div class="project_discription">Spheres under a piece of glass.</div>
				<img class="project_thumbnail" src="../images/projects/graphics/refraction.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw6/" class="project_link">
				<div class="project_discription">
					Draw different shapes in HTML5 Canvas, with rotation, and perspective. 
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/lines.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw7/curveEditor/" class="project_link">
				<div class="project_discription">
					An Editor where you can draw things by adding, editing and deleting splines.
					Can also add different shapes of flowers and start animation.
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/spline.png">
			</a>
		</div>
	</div>
</div>


<div class="course">
	<div class="course_description">
		Course: Open Source Tool<br>
		CS Department, NYU, Fall 2015. <br>
		Instructor: <a href="http://jlk.org/">Jeffrey Korn</a>
	</div>
	<div class="projects_container">
		<div class="ost_project_description">
			The final project. <br>
			We are asked to build a web app, <br>
			where users can share their stuff with other people, <br>
			and can also make reservation for other people's stuff. <br>
		</div>
		<div class="ost_project">
			<a href="https://xx450sharestuff.appspot.com" class="project_link">
				<img class="project_thumbnail" src="../images/projects/ost/project.png">
			</a>
		</div>
	</div>
</div>




