<div class="course">
	<div class="course_description">
		Course: Computer Graphics<br>
		CS Department, NYU, Spring 2015. <br>
		Instructor: <a class="href" href="https://mrl.nyu.edu/~perlin/">Kenneth Perlin</a>
	</div>
	<div class="projects_container">
		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw1/" class="project_link">
				<div class="project_discription">A firework. You can use your mouse to control the direction of the fire.</div>
				<img class="project_thumbnail" src="../images/projects/graphics/firework.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/project/" class="project_link">
				<div class="project_discription">
					The final project, used blender to draw the 3D dog. Then add animation to the dog: it can walk, run, stand, and can even have different moods.
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/dog.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw2/" class="project_link">
				<div class="project_discription">Two spheres with basic shading effect. There are two light source, and you can change one of them using your mouse. </div>
				<img class="project_thumbnail" src="../images/projects/graphics/shading.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw3/#canvas1" class="project_link">
				<div class="project_discription">
				Spheres with color, different reflections (Blinn and Phong Reflection)
				and shading (multiple light source).
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/reflection1.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw3/#canvas2" class="project_link">
				<div class="project_discription">
				Spheres with color, different reflections (Blinn and Phong Reflection)
				and shading (multiple light source).
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/reflection2.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw7/curveEditor/" class="project_link">
				<div class="project_discription">
					An Editor where you can draw things by adding, editing and deleting splines.
					Can also add different shapes of flowers and start animation.
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/spline.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw6/#canvas1" class="project_link">
				<div class="project_discription">
					Draw different shapes in HTML5 Canvas, with rotation, and perspective. 
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/lines1.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw4/" class="project_link">
				<div class="project_discription">
					Spheres under a piece of glass. You can see the effect of refraction when you move the glass with your mouse.
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/refraction.png">
			</a>
		</div>

		<div class="graphic_project">
			<a href="http://xuxiaoyu89.github.io/graphics/hw6/#canvas6" class="project_link">
				<div class="project_discription">
					Draw different shapes in HTML5 Canvas, with rotation, and perspective. 
				</div>
				<img class="project_thumbnail" src="../images/projects/graphics/lines2.png">
			</a>
		</div>
	</div>
</div>

<div class="course">
	<div class="course_description">
		Course: Summer Intern<br>
		Yahoo! Ads&Data, Yahoo! Creative Platform, Summer 2015.<br>
		Manager: Cynthia Gong
	</div>
	<div class="projects_container">
		<div class="ost_project_description">
			This is the first project I did in Yahoo! called Billboard Splash.<br> 
			It is a ad runs in Yahoo properties such as home page, Yahoo Beauty and Yahoo Sport.
			It is made of rich media contects (images and videos), can interact with audiences. (pause,
			restart, expand, mute, unmute). This is not a flash ad, instead it is written in pure Javascript and HTML. So it can run perfectly in modern browsers. 
		</div>
		<div class="ost_project">
			<img class="ost_project_thumbnail" src="../images/projects/intern_yahoo/BBSplash1.png">
		</div>
		<div class="ost_project">
			<img class="ost_project_thumbnail" src="../images/projects/intern_yahoo/BBSplash2.png">
		</div>
	</div>
</div>

<div class="course">
	<div class="course_description">
		Course: Summer Intern<br>
		Yahoo! Ads&Data, Yahoo! Creative Platform, Summer 2015.<br>
		Manager: Cynthia Gong
	</div>
	<div class="projects_container">
		<div class="ost_project_description">
			This is the second project I did in Yahoo! called Product Ads.<br> 
			Product Ads are ads which directly show the information of a product, such as product name, image, price, ratings and brand logo. I built several product ads templates, so given these informations in JSON file, they will create the ads automatically.
		</div>
		<div class="ost_project">
			<img class="ost_project_thumbnail" src="../images/projects/intern_yahoo/productads.png">
		</div>
	</div>
</div>

<div class="course">
	<div class="course_description">
		Course: Open Source Tool<br>
		CS Department, NYU, Fall 2015. <br>
		Instructor: <a class="href" href="http://jlk.org/">Jeffrey Korn</a>
	</div>
	<div class="projects_container">
		<div class="ost_project_description">
			The final project. <a class="href" href="https://xx450sharestuff.appspot.com">link</a><br>
			We are asked to build a web app, where users can share their stuff with other people, 
			and can also make reservation for other people's stuff. <br>
		</div>
		<div class="ost_project">
			<a href="https://xx450sharestuff.appspot.com" class="project_link">
				<img class="ost_project_thumbnail" src="../images/projects/ost/project.png">
			</a>
		</div>
	</div>
</div>






