<div id="projects_container">
	<div class="project">
		<div class="project_thumbnail">
			
		</div>
		<div class="project_discription">
			
		</div>
	</div>

	<div class="project">
		<div class="project_thumbnail">
			
		</div>
		<div class="project_discription">
			
		</div>
	</div>

	<div class="project">
		<div class="project_thumbnail">
			
		</div>
		<div class="project_discription">
			
		</div>
	</div>

	<div class="project">
		<div class="project_thumbnail">
			
		</div>
		<div class="project_discription">
			
		</div>
	</div>


</div>





{{msg}}